
<div class="container" style="padding: 40px 0">
    <h2 style="text-align: right; padding: 30px 0">
        “I have no idea when I message someone to do something, if they got my message,
        are going to do it, or if it got missed completely.”
    </h2>
    <h3 style="text-align: right; width: 70%; float: right">Send a task as a message and know it automatically went on their task list.</h3>
    <div class="row" style="clear: both">
        <div class="col-md-6" style="text-align: center">
            <img src="" alt="" style="width: 400px; height: 285px;">
             <p style="padding: 20px 20%;text-align: center">Have the peace of mind of knowing tasks won’t fall through the cracks</p>
        </div>
        <div class="col-md-6">
            <p>
                You send a message asking someone to do something but you have no peace of mind because you find
                yourself worrying about if they even got it or did they see it but it ended up getting burried in
                a sea of other messages.
            </p>

            <p>
                With Emmre you no longer have to worry about a task you sent getting lost amongst other messages
                because you know not only did they recieve a message the task went directly on to their task list.
            </p>
        </div>
    </div>

</div>