
<div class="container" style="padding: 40px 0">
    <h2>“I get so many messages, I am continually marking them as ‘unread’ so they don’t fall through the cracks.”</h2>
    <h3 style="width: 70%">Convert any message into a task with the click of a button </h3>
    <div class="row" style="clear: both">
        <div class="col-md-6">
            <p>
                We’ve all done it.  We’ve got a bunch of messages coming in from our team that are actually tasks in disgues.
                Our only defense to not forget them is to mark them “unread.”
            </p>

            <p>
                With Emmre, simply click “Convert to Task” and those messages will get sent right to your task list and you
                can go on with your day knowing that task will not be missed!
            </p>
        </div>
        <div class="col-md-6" style="text-align: center">
            <img src="" alt="" style="width: 400px; height: 285px">
             <p style="padding: 20px 20%;text-align: center">Never feel like you need to nag or micromanage again.</p>
        </div>
    </div>

</div>