
<!DOCTYPE html>
<!--{% load cache %}-->
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.6, maximum-scale=1, shrink-to-fit=no">

	<title>{% block title %}{% endblock title %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
{#	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
	{% load static %}

	<!-- jquery-ui -->
{#	<link rel="stylesheet" href="/assets/jqueryui/jquery-ui.css">#}
{#	<script src="/assets/jqueryui/jquery-ui.js"></script>#}
	<!-- UIKIT css -->
{#	<link rel="stylesheet" href="{% static 'emmre/css/uikit.css' %}" />#}
{#	<script src="../../../assets/emmre/js/uikit.min.js"></script>#}
{#	<script src="../../../assets/emmre/js/uikit-icons.min.js"></script>#}

	<!-- UIkit CSS -->
{#	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />#}

	<!-- UIkit JS -->
{#	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>#}
{#	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>#}
{# Todo add the font folder to site for custom fonts #}
	<link rel="stylesheet" type="text/css" href="{% static 'emmre/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'emmre/css/header.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'emmre/css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'emmre/css/homemobile.css' %}">
	{% if request.site.folder %}
{#		<link rel="stylesheet" type="text/css" href="/assets/{{ request.site.folder }}/css/style.css">#}
	{% endif %}
{#	<link rel="preconnect" href="https://fonts.gstatic.com">#}
{#	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap" rel="stylesheet">#}
{#    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">#}
	<script src="{% static 'emmre/js/scripts.js' %}"></script>


	<style>
		{% if request.site.css %}
			{{ request.site.css|safe }}
		{% endif %}

	</style>

{% block head %}
{% endblock head %}

</head>
<body style="">

{#{% include "emmre_main/inc/accessibility.html" %}#}

{% include 'main/inc/header.html' %}


	{% block content %}
	{% endblock content %}
{% include 'main/inc/footer.html' %}
	{% cache 60 combined_scripts_include request.site %}
{#		{% combine_scripts request=request scripts="/assets/js/accessibility.js" %}#}
{#		<script src="/assets/emmre/js/accessibility.js"></script>#}
	{% endcache %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>