 <div class="container text-left s5-blogs">
    <h2 style="width: 500px">Key Resources for Subsription Commerce Success</h2>
    <div class="row justify-content-center cards">
        <div class="col-sm-12 card" style="flex-wrap: wrap">
              <img src="..." class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn ">View Blog ></a>
              </div>
        </div>
        <div class="col-sm-12 card">
              <img src="..." class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn">View Blog ></a>
              </div>
        </div>
        <div class="col-sm-12 card">
              <img src="..." class="card-img-top" alt="...">
             <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn">View Blog ></a>
              </div>
        </div>

    </div>
</div>
