{% extends 'main/inc/base.html' %}

{% block title %}Emmre {{ title }}{% endblock title %}


{% block content %}
{#<div class="main-wrapper" style="max-width: 1200px">#}

    {% include 'main/home_sections/sect_intro.html' %}
    {% include 'main/home_sections/sect_top_platform.html' %}
    {% include 'main/home_sections/sect_split_companies.html' %}
    {% include 'main/home_sections/set_communication_platform.html' %}
    {% include 'main/home_sections/sect_blog_cards.html' %}

{#</div>#}
{% endblock content %}
