/*.sect1{*/
/*    width: 100%;*/
/*}*/
body{
    /*max-width: 1040px;*/
}
button a{
    color: black;
}




.containerwidth{
    width: 80%;
}
.s4{
    clear: both;
    padding-bottom: 50px;
}
.s4 > h3 {
    padding: 115px 0 50px 0;
    margin: 0 auto;
    width: 485px;
}
.card {
    margin: 50px 10px;
}
.cards {
    flex-wrap: nowrap;
    width: 30%;
    margin: auto;

}
.card-body a {
    padding: 0;
}
@media screen and (max-width: 700px) {
  .cards {
    flex-wrap: wrap!important;
      width: 75%;
  }
}